# 环境变量
.env

# macOS系统文件
.DS_Store

# node_modules
node_modules/

# Ignore outputs
output.*
parsed_debug.json
structured_with_code_blocks.json

# Ignore uploads
uploads/

# Ignore all .py files under scripts/ that contain 'copy' in the filename
scripts/*copy*.py